body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFDE7;
}

/*------------------welcomePage-------------*/
#welcomePage{
    background-image: url('images/backg.jpg');
    /*background-color: #F5F5F5;*/
}
#signUpDiv{
    width: 30%;
    border: 1px solid lightgray;
    float: left;
    height: 400px;
    border-top: 10px solid #00ACC1;
    background-color: #ffffff;
    margin: 5px;
    margin-left: 150px;
}
#loginDiv{
    width: 30%;
    border: 1px solid lightgrey;
    margin: 5px;
    margin-right: 150px;
    height: 400px;
    float: right;
    border-top: 10px solid #4CAF50;
    background-color: #ffffff;
}
#welcomeHead{
    font-size: 32px;
    background-color: #FDD835;
    color: #FFF8E1;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}
.welcomeFields{
    padding: 5px;
    width: 60%;
    margin: 5px 19%;
    /*position: relative;*/
    outline: 0;
}
.welcomeFields:focus{
    border: 2px solid #9E9E9E;
    padding: 5px;
}
.signHead{
    font-size: 24px;
    margin: 20px 19%;
    margin-top: 40px;
    color: #9F9F9F;
}
.newOldUser{
    font-size: 16px;
    font-weight: lighter;
    color: #757575;
    margin: 20px 15px;
}

.welcomeButtons{
    padding: 5px ;  
    font-size: 16px;
    outline: 0;
    border-radius: 5px;
    border: 0;
    margin: 10px 19%;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 63%;
    min-width: 100px;
}
#signUpButt{
    background-color: #00BCD4;
    color: #212121;
}
#loginButt{
    background-color: #4CAF50;
    color: #212121;
}



/* -----------------------------------------Home Page------------------------------------------------ */

/* #mainDiv{
    display: table
} */

.div{
     /* display: inline-block;  */
    /* border: 1px solid #000000; */
    padding: 20px;
}
#userDataDiv{
    /* width: 100%; */
    margin: 0;
    background-color: #FFECB3;
}
#name{
    font-size: 32px;
    font-weight: lighter;
}
#duaDiv{
       width: 85%;
       padding: 10px 0 10px 70px;   
       margin: 0 auto;
       background-color: #FFF9C4;
}
#duaDiv h1{
    font-size: 48px;
    font-weight: lighter;
}
#newPost{
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    outline: 0;
    width: 90%;
}
#newPost:hover{
    box-shadow: 0 0 15px lightgray;
}
#newPost:focus{
    box-shadow: 0 0 5px #000000;
}
#duaDiv button{
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    background-color: #FFC107;
    color: #FFFDE7;
    outline: 0;
}
#duaDiv button:hover{
    box-shadow: 0 0 5px #212121;
    background-color: #F9A825;
    color: #FFFDE7;
}
#postDiv{
    width: 95%;
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    padding: 10px;
    background-color: white; 
}
#toWhome{
    width: 89%;
    border-radius: 5px;
    margin: 5px 0;
     border: 1px solid #9E9E9E; 
    padding: 10px;
    font-size: 18px;
}
#toWhome:hover{
    box-shadow: 0 0 15px lightgray;
}
#toWhome:focus{
    box-shadow: 0 0 5px #000000;
}